
@{
    ViewBag.Title = "Index";
}

<h2>Xin chào admin</h2>
<table class="table table-bordered">
    <tr>
        <td>Quản lý thương hiệu</td>
        <td><a href="/admin/brand/index">Brand</a></td>
    </tr>
    <tr>
        <td>Quản lý loại sản phẩm</td>
        <td><a href="/admin/LoaiSP/index">LoaiSP</a></td>
    </tr>
    <tr>
        <td>Quản lý sản phẩm</td>
        <td><a href="/admin/product/index">SanPham</a></td>
    </tr>
    <tr>
        <td>Quản lý user</td>
        <td><a href="/admin/users/index">Users</a></td>
    </tr>
</table>