@model WebPC.Identity.AppUser
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Thông tin của tôi</h2>

<table class="table table-bordered">
    <tr>
        <td><strong>Tên tài khoản: </strong></td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td><strong>Email: </strong></td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td><strong>Họ tên:</strong></td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td><strong>Địa chỉ:</strong></td>
        <td>@Model.DiaChi</td>
    </tr>
</table>